body{
font-family: 'Segoe UI', sans-serif;
margin:0;
background:linear-gradient(135deg,#667eea,#764ba2);
min-height:100vh;
color:#333;
}

header{
text-align:center;
padding:40px;
color:white;
}

header h1{
font-size:36px;
margin-bottom:10px;
}

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;
padding:40px;
max-width:1000px;
margin:auto;
}

.group-card{
background:white;
padding:35px;
text-align:center;
border-radius:15px;
font-size:20px;
font-weight:bold;
cursor:pointer;
box-shadow:0 10px 20px rgba(0,0,0,0.15);
transition:0.3s;
}

.group-card:hover{
transform:scale(1.05);
background:#4f46e5;
color:white;
}

/* Modal */

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
justify-content:center;
align-items:center;
}

.modal-content{
background:white;
padding:30px;
width:85%;
max-width:900px;
max-height:80vh;
overflow:auto;
border-radius:12px;
}

.close{
float:right;
font-size:28px;
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
}

th{
background:#4f46e5;
color:white;
}
.search-box{
text-align:center;
margin-top:20px;
}

.search-box input{
width:60%;
max-width:500px;
padding:14px;
border-radius:30px;
border:none;
font-size:16px;
box-shadow:0 4px 10px rgba(0,0,0,0.2);
outline:none;
}
#searchResults{
max-width:600px;
margin:20px auto;
}

.result-card{
background:white;
padding:15px;
margin-bottom:10px;
border-radius:10px;
box-shadow:0 4px 10px rgba(0,0,0,0.15);
display:flex;
justify-content:space-between;
align-items:center;
}

.result-name{
font-weight:bold;
}

.result-group{
background:#4f46e5;
color:white;
padding:6px 12px;
border-radius:20px;
font-size:14px;
}